<%= render 'layouts/header'%>
<h1>Editing Threadtitle</h1>

<!--<%= render 'form', threadtitle: @threadtitle %>-->

<%= link_to 'Show', @threadtitle %> |
<%= link_to 'Back', threadtitles_path %>
echo "# app" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/kei004/app.git
git push -u origin master